
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Python execution junk
*.pyc
*__pycache__/
.mypy_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# results
checkpoints/

# data files (should be picked up by the no-push pre-commit
*-ubytes*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# IDE
.idea/
.DS_Store

